.default-background{
    background-color: #99d6ff;
    flex:auto;
    padding-bottom:30%;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 93, 199);
    color: white;
  }
.right-item{
    align-self: right;
}
.gallery-row{
    height: 500px;
    
}
.login-container {
    max-width: 400px;
    left: 10px;
}
.main-page-container{
    padding: 10px;
    color: rgb(45, 94, 151)
}
.main-page-button{
min-height: 100px;
min-width:  600px;
text-align: center;
background-color: rgb(140, 191, 250)

}